@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow-x: hidden;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

@media (max-width: 1024px) {
  div[id*='portfolio-bg-'] {
    width: 140%;
    left: -10%;
  }
}

@media (max-width: 768px) {
  div[id*='portfolio-bg-'] {
    width: 160%;
    left: -30%;
  }
  #portfolio-wrapper {
    display: none;
  }
  #mobile-hero {
    display: block;
  }
}