@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow-x: hidden;
}

.text-outline {
  color: transparent !important;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  text-stroke: 1px white;
}

@media (max-width: 768px) {
  .text-outline {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
}

@media (max-width: 480px) {
  #portfolio-wrapper {
    overflow: hidden;
  }
}


@media (max-width: 1024px) {
  div[id*='portfolio-bg-'] {
    width: 140%;
    left: -10%;
  }
}

@media (max-width: 768px) {
  div[id*='portfolio-bg-'] {
    width: 160%;
    left: -30%;
  }
  #portfolio-wrapper {
    display: none;
  }
  #mobile-hero {
    display: block;
  }
}